<h2>List of Customers</h2>

<% @customers.each do |customer| %>
<%= link_to customer.name, customer_path(customer) %><br>
<%end%>
<br>
<hr>

<center><%= link_to "Create an Account", new_customer_path %></center>
<center><%= link_to "Index of Blends", brews_path %> | <%= link_to "Index of Customers", customers_path %></center>
